:root {
	--cl-main-500: hsl(185, 75%, 39%);
	--cl-neutral-800: hsl(228, 23%, 23%);
	--cl-neutral-600: hsl(228, 10%, 47%);
	--cl-neutral-300: hsl(228, 9%, 92%);
	--cl-neutral-100: hsl(0, 0%, 100%);
	--ff-main: 'Kumbh Sans', sans-serif;
	--fs-100: 0.625rem;
	--fs-400: 0.875rem;
	--fs-800: 1.125rem;
	--fw-regular: 400;
	--fw-bold: 700;
	--ls-400: 0.094rem;
	--ty-name: var(--fw-bold) var(--fs-800) var(--ff-main);
	--ty-age: var(--fw-regular) var(--fs-800) var(--ff-main);
	--ty-location: var(--fw-regular) var(--fs-400) var(--ff-main);
	--ty-value: var(--fw-bold) var(--fs-800) var(--ff-main);
	--ty-label: var(--fw-regular) var(--fs-100) var(--ff-main);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

.top-wrapper {
	font-family: var(--ff-main);
	position: relative;
	background: var(--cl-main-500);
	display: grid;
	align-content: center;
	margin: 0;
	min-height: 100svh;
	overflow: hidden;
}

.top-wrapper::before,
.top-wrapper::after {
	content: '';
	display: block;
	aspect-ratio: 1;
	position: absolute;
	z-index: -1;
	background-size: cover;
	transform-origin: center;
	opacity: 0.25;
	width: 622px;
}

@media (min-width: 60rem) {

	.top-wrapper::before,
	.top-wrapper::after {
		width: 978px;
	}
}

.top-wrapper::before {
	background-image: url(../images/bg-pattern-top.svg);
	translate: -70% -55%;
	rotate: 135deg;
}

@media (min-width: 60rem) {
	.top-wrapper::before {
		translate: -20% -45%;
	}
}

.top-wrapper::after {
	background-image: url(../images/bg-pattern-bottom.svg);
	bottom: 0;
	right: 0;
	translate: 70% 55%;
	rotate: -45deg;
}

@media (min-width: 60rem) {
	.top-wrapper::after {
		translate: 20% 45%;
	}
}

.profile-card {
	background: no-repeat top center url(../images/bg-pattern-card.svg) var(--cl-neutral-100);
	box-shadow: 0 3.125rem 6.25rem -1.25rem rgba(8, 70, 94, 0.5048);
	border-radius: 0.938rem;
	width: 90%;
	max-width: 20.375rem;
	margin: auto;
	text-align: center;
}

@media (min-width: 60rem) {
	.profile-card {
		max-width: 21.875rem;
	}
}

.profile-card__image {
	outline: solid white 5px;
	border-radius: 100%;
	display: block;
	margin: 5.75rem auto 1.5rem;
}

.profile-card__name {
	font: var(--ty-name);
	color: var(--cl-neutral-800);
	margin: 0 0.25rem 0 0;
	display: inline;
}

.profile-card__age {
	font: var(--ty-age);
	color: var(--cl-neutral-800);
	margin: 0;
	display: inline;
}

.profile-card__location {
	font: var(--ty-location);
	color: var(--cl-neutral-600);
	margin: 0.5rem 0 1.75rem;
}

.profile-card__stats {
	border-top: solid thin var(--cl-neutral-300);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
	margin: 0;
	padding: 1.5rem 3rem 1.75rem;
}

.profile-card__stat-col {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;
}

.profile-card__label {
	font: var(--ty-label);
	color: var(--cl-neutral-600);
	letter-spacing: var(--ls-400);
}

.profile-card__value {
	font: var(--ty-value);
	color: var(--cl-neutral-800);
	margin: 0;
}

.signature {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

/*# sourceMappingURL=./styles.css.map */